body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right top, #000000, #221e20, #3e373c, #59525c, #736f7f);
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    
}

.navbar{
    display: flex;
    /* width: 100%; */
    height: auto;
    justify-content: space-between;
    background-image: linear-gradient(to left top, #6998ab, #547e93, #40657b, #2d4e64, #1a374d);    padding: 0 100px;
    padding: 0 40px;
}
header {
    position:sticky;
    top: 0;
}
/* header{
    position: absolute;
    background: #1A374D;
    top: 0;
    left: 0;
    padding: 0 100px;
    width: 100%;
    box-sizing: border-box;
} */

header .tixid{
    color: #6998AB;
    line-height: 60px;
    font-size: 30px;
    float: left;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

header nav{
    float: right;
}

header nav ul{
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li{
    list-style: none;
}

header nav ul li a{
    color: whitesmoke;
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    text-decoration: none;
    display: block;
    font-family: 'Courier New', Courier, monospace;
}

header nav ul li a:hover,
header nav ul li a.active {
    color: #B1D0E0;
    background-color: #406882;
}

.menu-bar{
    color: #6998AB;
    float: right;
    line-height: 60px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

#streaming{
    justify-content: space-around;
    flex-direction: row ;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 3.5rem;
    width: 100%;
}

.container{
    max-width: 500px;
    margin: auto;
    padding: 20px;
}

.container .products-container{
    display: grid;
    justify-content: center;
    /* grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)); */
    /* gap: 2rem; */
}

.container .products-container .product{
    text-align: center;
    padding:3rem 2rem;
    background: #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    outline: .1rem solid #ccc;
    /* outline-offset: -1.5rem; */
    cursor: pointer;
}

.container .products-container .product:hover{
    outline: .2rem solid #222;
    outline-offset: 0;
}

.container .products-container .product h3{
    color:#444;
}

.container .products-container .product:hover h3{
    color:#347eb0;
}

.container .products-container .product .price{
    font-size: 18px;
    color:#444;
}
.products-preview{
    position: fixed;
    top:0; left:0;
    min-height: 100vh;
    width: 100%;
    background: rgba(0,0,0,.8);
    display: none;
    align-items: center;
    justify-content: center;
}

.products-preview .preview{
    display: none;
    padding:2rem;
    background: #fff;
    position: relative;
    margin:2rem;
    width: 1000px;
}

.products-preview .preview.active{
    display: inline-block;
}

.products-preview .preview img{
    height: 30rem;
}

.products-preview .preview .fa-times{
    position: absolute;
    top:1rem; right:1.5rem;
    cursor: pointer;
    color:#444;
    font-size: 4rem;
}

.products-preview .preview .buttons{
    display: flex;
    margin-top: 15px;
    justify-content: center;
}

.products-preview .preview .buttons a{
    padding:5px;
    font-size: 20px;
    color:#444;
    border:1px solid #444;
    text-decoration: none;
    text-transform: capitalize;
    justify-content: center;
}

.products-preview .preview .buttons a.buy:hover{
    background: #444;
    color:#fff;
}


.container-1{
    padding: 0 20px;
}



span{
    color: white;
    font-weight: bold;
}

.poster{
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.poster img{
    width: 240px;
    height: 380px;
    border-radius: 10px;
}

@media (max-width: 650px){
    header{
        padding: 0 0px;
    }
    
    .menu-bar{
        display: block;
    }
    
    header nav{
        position: absolute;
        width: 100%;
        height: auto;
        height: calc(100vh - 50px);
        background: #406882;
        top: 50px;
        left: -100%;
        transition: 0.6s all;
    }
    
    header nav.active{
        left: 0;
    }
    
    header nav ul {
        display: block;
        text-align: center;
    }
    
    header nav ul li a:hover{
        /* border: 1px solid #1A374D; */
        color: #1A374D;
        
    }
}

footer{
    background: rgba(255, 255, 255, 0.08);
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding: 5px;
}

.geser{
    padding-left: 17px;
}

.tittle {
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
.bio {
margin-top: 100px;
font-family: Arial, Helvetica, sans-serif;
}

.tittle2 {
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
.bio2 {
margin-top: 100px;
font-family: Arial, Helvetica, sans-serif;
}

.bentuk-poster{
    width: 200px;
    height: 250px;
    object-fit: scale-downp;
}

.sedangtayang{
    width : 90%;
    margin: auto;
    padding: 20px;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

/* ticket */
